{% from "@components/icon.twig" import icon %}
{% extends "@layouts/layout.twig" %}

{% block content %}
<h1>{{projectName}}</h1>
{{ icon({name: 'triangle', extraClasses: ''}) }}

{% markdown %}
## Now with markdown support!
{% endmarkdown %}

{% endblock %}
