{% extends "@layouts/layout.twig" %}
{% from "@components/icon.twig" import icon %}

{% block content %}
    <h1>{{projectName}}</h1>
    {{ icon({name: 'triangle', extraClasses: ''}) }}

    {% for section in data.sections %}

        {% include '@includes/' ~ section.component ~ '.twig' with {
            props: section
        } %}

    {% endfor %}

{% endblock %}
