{% from "/templates/macros/icon.twig" import icon %}
{% extends "/templates/layout.twig" %}

{% block content %}
    <h1>{{projectName}}</h1>
    {{ icon({name: 'triangle', extraClasses: ''}) }}
{% endblock %}
